@font-face {
  src: url("OpenSans-VariableFont_wdth,wght.ttf");
}

$mononokiNF: "mononoki Nerd Font";
@font-face {
  font-family: $mononokiNF;
  src: url("mononokiNF.ttf")
}

$background-color: #2d2d2d;
$button-color: #4f4f4f;
$text-color: #f7fafa;
$blue-highlight: #a4ffff;
$button-hover: #6a6a6a;
$pressed-border-color: #289de8;
$button-border-color: #8d57fc;
$textfield-color: #40596c;

.root {
  -fx-background: $background-color;
}

.button, .buttonUp, .buttonStop, .buttonSelect {
  -fx-background-color: $button-color;
  -fx-border-color: $button-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
  -fx-effect: none;

  SVGPath{
    -fx-fill: $text-color;
  }
}

.button:hover, .buttonStop:hover, .buttonUp:hover, .choice-box:hover, .button:focused:hover, .buttonStop:focused:hover, .buttonUp:focused:hover, .buttonSelect:focused:hover, .choice-box:focused:hover {
  -fx-background-color: $button-color;
  -fx-border-color: $blue-highlight;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
}

.button:focused, .buttonStop:focused, .buttonUp:focused, .buttonSelect:focused, .choice-box:focused {
  -fx-background-color: $button-hover;
  -fx-border-color: $button-hover;
}

.button:pressed, .button:pressed:hover{
  -fx-background-color: $button-color;
  -fx-border-color: $pressed-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;

  SVGPath{
    -fx-fill: $pressed-border-color;
  }

}

.text-field {
  -fx-background-color: $background-color;
  -fx-border-color: $button-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: white;
}

.text-field:focused {
  -fx-border-color: $pressed-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
}

.tab-pane .tab SVGPath{
  -fx-fill: $text-color;
}
.tab-pane .tab:selected SVGPath, .tab-pane .tab:selected:hover SVGPath{
  -fx-fill: $button-border-color;
}
.tab-pane .tab:hover SVGPath{
  -fx-fill: $blue-highlight;
}
.tab-pane .tab{
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-radius: 3;
  -fx-border-width: 0 0 3 0;
  -fx-border-color: transparent;
  -fx-text-fill: $text-color;
}

.tab-pane .tab:selected{
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-radius: 3;
  -fx-border-color: $button-border-color;

  .tab:left{
    -fx-border-width: 0 0 3 0;
  }
  .tab:top{
    -fx-border-width: 0 3 0 0;
  }

}


.tab-pane > .tab-header-area {
  -fx-background-insets: 0.0;
  -fx-padding: 5 5 5 5;
}

.tab-pane > .tab-header-area > .tab-header-background
{
  -fx-background-color: $background-color //linear-gradient(to right, #2d2d2d 0%, #343434 7.5%, #343434 100%); //#424242; //
}
.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-padding: 10;
}

.tab-label{
  -fx-text-fill: $text-color;
}

.text-area{
  -fx-background-color: transparent;
  -fx-control-inner-background: $button-color;
  -fx-font-family: $mononokiNF;
  -fx-border-color: $button-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
}

.alert-svg{
  -fx-fill: $button-border-color;
}

.song-card{
  -fx-background-color: $button-color;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :transparent;
  -fx-border-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-background-color: $button-border-color;
}

.scroll-pane > .corner,
.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: $background-color;
}

.scroll-pane, .scroll-pane:hover, .scroll-pane:selected{
  -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button {
  -fx-background-color: transparent;
}


.scroll-bar:horizontal .thumb{
  -fx-background-color: $button-color;
  -fx-background-insets: 4 0 4 0;
  -fx-background-radius : 5;
}
.scroll-bar:horizontal .thumb:hover{
  -fx-background-color: $button-hover;
  -fx-background-insets: 4 0 4 0;
  -fx-background-radius : 5;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: $button-color;
  -fx-background-insets: 0 4 0 4;
  -fx-background-radius : 5;
}
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: $button-hover;
  -fx-background-insets: 0 4 0 4;
  -fx-background-radius : 5;
}

.song-info-main > HBox > Label {
  -fx-font-size: 1.5em;
}

.info-diff-card{
  -fx-font-size: 1.2em;
  -fx-background-radius: 3;
}

.info-diff-card-easy{
  -fx-background-color: #2e7d32;
}

.info-diff-card-normal{
  -fx-background-color: #ff8f00;
}

.info-diff-card-hard{
  -fx-background-color: #ad1457;
}

.info-diff-card-title{
  -fx-font-size: 1.5em;
}

.settings-section > Label{
  -fx-font-size: 2em;
}

.choice-box {
  -fx-background-color: $button-color;
  -fx-border-color: $button-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-mark-color: $button-border-color;
  -fx-effect: none;
}
.choice-box .arrow{
  -fx-background-color: $button-border-color;
}
.choice-box > .label {
  -fx-text-fill: $text-color;
}

.choice-box:pressed, .choice-box:pressed:hover{
  -fx-background-color: $button-color;
  -fx-border-color: $pressed-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
}

.choice-box .context-menu {
  -fx-background-color: $background-color;
  -fx-text-fill: $text-color;
}

.choice-box .context-menu .menu-item:focused {
  -fx-background-color: $pressed-border-color;
  -fx-text-fill: $text-color;

}

.choice-box .context-menu .menu-item .label {
  -fx-text-fill: $text-color;
}

.choice-box .context-menu .menu-item:focused .label {
  -fx-text-fill: $text-color;
}
