@font-face {
  src: url("OpenSans-VariableFont_wdth,wght.ttf");
}

$background-color: #2d2d2d;
$button-color: #4f4f4f;
$text-color: #f7fafa;
$blue-highlight: #a4ffff;
$button-hover: #6a6a6a;
$pressed-border-color: #289de8;
$button-border-color: #8d57fc;
$textfield-color: #40596c;

.root {
  -fx-background: $background-color;
}

.button, .buttonUp, .buttonStop, .buttonSelect {
  -fx-background-color: $button-color;
  -fx-border-color: $button-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: #f7fafa;
  -fx-effect: none;
}

.button:hover, .buttonStop:hover, .buttonUp:hover, .choice-box:hover, .button:focused:hover, .buttonStop:focused:hover, .buttonUp:focused:hover, .buttonSelect:focused:hover, .choice-box:focused:hover {
  -fx-background-color: $button-color;
  -fx-border-color: $blue-highlight;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
}

.button:focused, .buttonStop:focused, .buttonUp:focused, .buttonSelect:focused, .choice-box:focused {
  -fx-background-color: $button-hover;
  -fx-border-color: $button-hover;
}

.button:pressed, .button:pressed:hover{
  -fx-background-color: $button-color;
  -fx-border-color: $pressed-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: $text-color;
}

.text-field {
  -fx-background-color: $background-color;
  -fx-border-color: $button-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
  -fx-text-fill: white;
}

.text-field:focused {
  -fx-border-color: $pressed-border-color;
  -fx-border-radius: 3;
  -fx-border-width: 2;
}

.tab-pane .tab SVGPath{
  -fx-fill: #f7fafa;
}
.tab-pane .tab:selected SVGPath, .tab-pane .tab:selected:hover SVGPath{
  -fx-fill: #08f3ff;
}
.tab-pane .tab:hover SVGPath{
  -fx-fill: #7effff;
}
.tab-pane .tab{
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-radius: 3;
  -fx-border-width: 0 0 3 0;
  -fx-border-color: transparent;
  -fx-text-fill: $text-color;
}

.tab-pane .tab:selected{
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-radius: 3;
  -fx-border-width: 0 0 3 0;
  -fx-border-color: $button-border-color;
}

.tab-pane > .tab-header-area {
  -fx-background-insets: 0.0;
  -fx-padding: 5 5 5 5;
}

.tab-pane > .tab-header-area > .tab-header-background
{
  -fx-background-color: $background-color //linear-gradient(to right, #2d2d2d 0%, #343434 7.5%, #343434 100%); //#424242; //
}
.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-padding: 10;
}

.tab-label{
  -fx-text-fill: $text-color;
}
